.auth-layout {
    display: flex;
    height: 100%;
    width: 100%;
}
  
.auth-layout-image {
    flex: 1;
    background-image: url('../assets/pokemon-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
.auth-layout-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}